<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="date" class="java.util.Date"/>
<!-- <bean id="student" class="com.nt.beans.Student">
	
	<property name="id" value="123"/>
	<property name="name" value="Ravi"/>
	<property name="address" value="Guntur"/>
</bean> -->
  <bean id="student" class="com.nt.beans.Student">
 	
	<constructor-arg  value="Hyd" />
	<constructor-arg  value="122" />
	<constructor-arg  value="Pawana" />
	
</bean> 
 <bean id="wish" class="com.nt.beans.WishGenerator">
   <property name="date" ref="date"/>
</bean>
</beans>